*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8DBD5;
  height: 100vh;
  width: 100vw;
}

.top-green{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #009688;
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.window{

  width: 80%;
  height: 80%;
}

.navbar{
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  background-color: #EDEDED;
}

.left{
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: space-between;
}

.propic img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.propic-icons{
  display: flex;
  align-items: center;
}

.propic-icons i{
  font-size: 25px;
  padding: 5px;
}


.right{
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100%;
}

.contact-actions{
  display: flex;
  align-items: center;
}

.contact-actions i{
  font-size: 25px;
  padding: 10px;
}

.contact{
  height: 20%;
  display: flex;
}

.contact-info small, .contact-active-info small{
  color: darkgrey;
  font-weight: 700;
}

.contact-info{
  width: 100%;
}

.contact-logo{
  width: 50px;
  height: 50px;

}

.contact-logo img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}


#contact{
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact .contact-avatar img{
  height: 50px;
  border-radius: 50%;
}


.main{
  display: flex;
  width: 100%;
  height: 90%;

}

.contacts{
  background-color: white;
  height: 100%;
  width: 30%;
}

.time{
  float: right;
}

.chat{
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-evenly;
  height: 100%;
  width: 70%;
  background-image: url('img/mine.jpg');
  position: relative;
}


.sent{
  background-color: #DCF8C6;
  height: 50px;
  width: 250px;
  position: relative;
  left: 600px;
}

.received{
  background-color: white;
  height: 50px;
  width: 250px;
  position: relative;
  left: 10px;
}


.message{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  border-radius: 20px;
  position: relative;
}

.message-time{
  font-size: 15px;
  color: darkgrey;
  position: absolute;
  bottom: 0;
  right: 5px;
}


.write{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #F0F0F0;
  position: absolute;
  bottom: 0;
}

.write input{
  width: 80%;
  height: 100%;
}

.write i{
  font-size: 25px;
}

.search{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search i{
  font-size: 20px;
}

.search input{
  width: 100%;
  height: 50%;
}
