*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  height: 100vh;
  width: 100vw;
}

.top-green{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: green;
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.window{
  background-color: red;
  width: 80%;
  height: 80%;
}

.navbar{
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  background-color: white;
}

.left{
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: space-between;
}

.propic img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.propic-icons{
  display: flex;
  align-items: center;
}

.propic-icons i{
  font-size: 25px;
  padding: 5px;
}


.right{
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100%;
}

.contact-actions{
  display: flex;
  align-items: center;
}

.contact-actions i{
  font-size: 25px;
  padding: 10px;
}

.contact{
  width: 100%;
  height: 20%;
}

.contact-logo{
  width: 50px;
  height: 50px;

}

.contact-logo img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.main{
  display: flex;
  width: 100%;
  height: 90%;
  background-color: blue;
}

.contacts{
  height: 100%;
  width: 30%;
}

.chat{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  background-color: pink;
}

.right-messages{
  width: 200px;
  position: absolute;
  right: 200px;
}

.sent{
  background-color: white;
  position: relative;
  right: 0;

}
.received{
  background-color: green;
  position: relative;
  left: 0;
}

.write{
  align-self: flex-end;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: orange;
}
